PORT=8080
FRONTEND_ORIGIN=http://localhost:5170
JWT_SECRET=secreto-jwt-backend-split
AUTH_SERVICE_URL=http://auth-service:3001
USER_GROUP_SERVICE_URL=http://user-group-service:8082
EXPENSE_SERVICE_URL=http://expense-service:8081
DEBT_SERVICE_URL=http://debt-calculator-service:8000
REPORT_SERVICE_URL=http://report-service:8083
NOTIFICATION_SERVICE_URL=http://notification-service:3006
AI_SERVICE_URL=http://ai-agent-service:8007
