# Base Config del Servicio de Gastos
PORT=8081

# Archivo de conector Base
DATABASE_URL=postgres://exp_user:exp_password@localhost:5434/exp_db?sslmode=disable

# Bandera de Arquitectura Serverless Broker
USE_BROKER=false

# URL de AMQP (Nulo si USE_BROKER es false)
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
